{% block head %}
	{% include 'head.twig' %}
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		
		{% block header %}
			{% include 'header.twig' %}
		{% endblock %}
				
		{% block content %}
		{% endblock %}

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
		
	</body>
</html>